* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.list {
  padding: 50px 0;
}

.list-item {
  width: 960px;
  height: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-size: 15px;
}

.list-item:nth-child(odd) {
  background-color: #dfdbdb;
}

.boxes {
  width: 960px;
  height: 680px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 288px;
  height: 200px;
  margin-bottom: 40px;
}

.box:nth-child(1) {
  margin-right: 48px;
  background-color: hsl(29, 100%, 50%);
}

.box:nth-child(2) {
  margin-right: 48px;
  background-color: rgb(255, 217, 0);
}

.box:nth-child(3) {
  background-color: rgb(255, 217, 0);
}

.box:nth-child(4) {
  margin-right: 48px;
  background-color: rgb(255, 217, 0);
}

.box:nth-child(5) {
  margin-right: 48px;
  background-color: hsl(29, 100%, 50%);
}

.box:nth-child(6) {
  background-color: rgb(255, 217, 0);
}

.box:nth-child(7) {
  margin-right: 48px;
  background-color: rgb(255, 217, 0);
}

.box:nth-child(8) {
  margin-right: 48px;
  background-color: rgb(255, 217, 0);
}

.box:nth-child(9) {
  background-color: hsl(29, 100%, 50%);
}
